# Python
*.pyc
__pycache__/

# Virtual Environment
venv/
ENV/
.env         
# need this in my local environment. That's an hour I'll never get back :_)

# Django 
# wont be using sqlite, project is in postgresql - maybe ignore that here?
# todo
db.sqlite3      
*.log
media/
# staticfiles/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
